<% articles.each do |article| %>
    <div class="card p-2 mt-3">
        <p>
            <small>
                By <%= link_to article.user.username, profile_path(article.user.username), class: "text-decoration-none" %> 
                <%= time_ago_in_words article.created_at %> ago
            </small>
        </p>  
        <div class="h4"><%= link_to article.title, article_path(article), class: "text-decoration-none" %></div>
        <p><%= truncate article.body, length: 50 %></p>
    </div>
<% end %>
<%= will_paginate articles, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next" %>
 