<div class="h3 text-center mt-2 mb-3"><%= @category.name %></div>
<% if @articles.size > 0 %>
    <% @articles.each do |article| %>
        <div class="card p-3 mt-3">
            <p>
                <small>
                    By <%= link_to article.user.username, profile_path(article.user.username), class: "text-decoration-none" %> 
                    <%= time_ago_in_words article.created_at %> ago
                    <% if article.category_id != nil %>
                        in <%= link_to Category.find(article.category_id).name, category_path(article.category_id), class: "text-decoration-none" %>
                    <% end %>
                </small>
            </p>  
            <div class="h4"><%= link_to article.title, article_path(article), class: "text-decoration-none" %></div>
            <p><%= truncate article.body, length: 50 %></p>
        </div>
    <% end %>
 <% else %>
    <div class="col-sm-12">
        <div class="alert alert-warning text-center h5" role="alert">
          No articles at the moment!
        </div>
    </div>
<% end %>