<div class="container">
    <div class="row">
        <div class="col-12 pt-2 pb-1 border-bottom">
            <nav class="navbar justify-content-between">
                <div class="float-left">
                    <div class="h3">
                        <%= link_to "MyBlog", root_path, class: "text-decoration-none" %>
                    </div>
                </div>
                <% if user_signed_in? %>
                    <div class="btn-group" role="group" aria-label="User">
                        <button type="button" class="btn btn-outline-primary"><%= link_to "Profile",  profile_path(current_user.username), class: "dropdown-item" %></button>
                        <button type="button" class="btn btn-outline-primary"><%= link_to "Settings", edit_user_registration_path, class: "dropdown-item"%></button>
                        <button type="button" class="btn btn-outline-primary"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></button>
                    </div>
                <% end %>
                <div class="float-right">
                    <% if user_signed_in? %>
                        <div class="h5"><%= current_user.username%></h3>
                    <% else %>
                        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary mr-2" %>
                        <%= link_to "Create account", new_user_registration_path, class: "btn btn-primary" %>
                    <% end %>
                </div>
            </nav>
        </div>
    </div>
</div>